nav > a {
    padding: 5px;
    text-decoration: none;
}
nav > a.active{
    background-color: #f5b47b;
}   
.header-row{
    width: 95%;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
