.container{
    display:flex;
    height:auto;
    width: 80%;
    margin:0;
    padding: 0;
    img{
        width:50%;
        height: 500px;
    }
}
.productos{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color:#F5E4D9;
    width: 50%;
    margin:0;
}
.mat-card{
    display: flex;
    flex-direction: column;
    border:1px solid #000;
    box-shadow: 2px 2px #80a1ac;
    width:50%;
    height:60%;
    margin: 30px;
    align-items:center;
    justify-content: center;
}
.mat-card-header{
    font-size: 430px;
    justify-content: center;
}
