@import '~@angular/material/theming';

@include mat-core();


// GAMA COLORES
$my-primary-color: (
  200 : #80a1ac,
  500 : #004358,
  700 : #003447,
  contrast: (
    200 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-accent-color: (
  200 : #73DCE3,
  500 : #60BAC1,
  700 : #3B777C,
  contrast: (
    200 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-warn-color: (
  200 : #feba80,
  500 : #fbaf6d,
  700 : #fc6100,
  contrast: (
    200 : #000,
    500 : #fff,
    700 : #fff,
  )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent,
   warn: $my-palette-warn
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);



.product-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.container{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 576px){
    .product-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .container{
        max-width: 1100px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
